@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    background-color: theme(colors.background);
    color: theme(colors.text);
    overflow-x: hidden;
    @apply font-Jakarta;

    
  }
  ::-webkit-scrollbar {
    display: contents;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme(colors.primary);
    border-radius: 100px;
  }

  ::-webkit-scrollbar-track {
    background-color: theme(colors.transparent);
  }
}

@layer components {
  .content {
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin-inline: auto;
    padding-inline: 1rem;
    overflow-x: hidden;
  }
}
